---
layout: generic_collection_item
image_viewer: 'openseadragon'
pagination: true
meta:
  - label: 'Title'
    value: page.title
  - label: 'Artist'
    value: page.artist
  - label: 'Location'
    value: page.location
  - label: 'Current Location'
    value: page.current_location
  - label: 'Date'
    value: page._date
  - label: 'Contributor'
    value: page.contributor
    type:  link
  - label: 'Transcription'
    value: page.transcription
  - label: 'IIIF Manifest'
    value: page.manifest
    type:  link
---
